.Album-Container:nth-child(1) {
    border: 1px solid green;
}

.Album-Container:nth-child(2) {
    border: 1px solid blue;
}

.Album-Container:nth-child(3) {
    border: 1px solid purple;
}

.Album-Container::-webkit-scrollbar { width: 0 !important }

.Album-Container {
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    margin: 2em;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.Album-Picture {
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.Album-Picture-Title {
    text-align: center;
    height: 70px;
    margin-bottom: 10px;
}